<div class="container">
  <h1><%= @team.name.capitalize %></h1>
  <h3>Players:</h3>

  <% @team.team_players.each do |team_player| %>
    <p>
      <%= team_player.player.name %>
      <%= link_to team_player_path(team_player), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </p>
  <% end %>

  <hr>

  <%= simple_form_for [@team, @team_player] do |f| %>
    <%= f.association :player %>
    <%= f.submit value: "Add Player" %>
  <% end %>

  <hr>

  <%= simple_form_for [@team, @match] do |f| %>
    <%= f.submit value: "Create a Match" %>
  <% end %>

  <hr>

  <%= link_to 'Back to Teams', teams_path %>

</div>
